@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{

    body{
        background: #39df39be;
        box-sizing :border-box;
    }
    .navHover:hover{
       
            border : 2px solid green;
            
                      
             box-sizing :border-box;
    
}
}