@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{

    body{
        background: #39df39be;
    }
    .navHover:hover{
       
            border : 2px solid green;
             padding:10px; 
            box-sizing :border-box;          
        
    
}
}